
// Color Variables 
$color-primary: #58e1c1;
$color-secondary: #777;

// Button Color Variables 
$color-default: #51ddfc;
$color-success: #63cc82;
$color-error: #e4757a;
$color-warning: #fd7856;
$color-info: #927bc1;

// Fonts 
$font-stack-primary: 'Lato', sans-serif;

// Media Query Breakpoints
$brk-tablet: 768px;