/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $color-default;
    transition: .5s;

    &:hover {
        background-color: lighten($color-default, 15%)
    }
  }
  
  .error {
    background-color: $color-error;
    transition: .5s;

    &:hover {
        background-color: lighten($color-error, 15%)
    }
  }
  
  .info {
    background-color: $color-info;
    transition: .5s;

    &:hover {
        background-color: lighten($color-info, 15%)
    }
  }
  
  .success {
    background-color: $color-success;
    transition: .5s;

    &:hover {
        background-color: lighten($color-success, 15%)
    }
  }
  
  .warning {
    background-color: $color-warning;
    transition: .5s;

    &:hover {
        background-color: lighten($color-warning, 15%)
    }
  }
  
  